.orders {
    .axx {
      width: 80px !important;
    }
    .aval {
      justify-content: space-between !important;
      background-color: #fec908;
      display: flex !important;
      flex-direction: row;
    }
  }