
.table {
    .plus-btn,
    .minus-btn {
      background-color: #000000a2;
      color: #f1efef;
      padding: 0px 20px;
      align-items: center;
      cursor: pointer;
    }
    .delt {
      color: rgb(241, 75, 75);
      cursor: pointer;
    }
  }