//start gotoMenu Btn
.gotoMenu {
    background-image: url("/106390.jpg");
    .menubtn {
      // color: $primary;
      // background-color: $primary-light;
      border: none;
      padding: 5px 20px;
      border-radius: 2px;
    }
  }
  ////end gotoMenu Btn