.sortby {
    padding-top: 1px;
    border-radius: 8px;
    span {
      padding-top: 8px;
      border-radius: 2px;
      display: inline-block;
      list-style: none;
      cursor: pointer;
    }
    ul {
      li {
        margin: 0px 10px;
        padding: 8px 0px;
        border-radius: 2px;
        display: inline-block;
        list-style: none;
        cursor: pointer;
      }
    }
    .active {
      color: #ffc107;
    }
  }