//start header styles
.navbar {
    :hover {
      color: #000000 !important;
      transition: 0.5s;
    }
    .activenav {
     border-bottom: 3px solid #ffc107;
     color: #000000;
    }
    .cartIcon {
      position: relative;
      .cartCounter {
        position: absolute;
        margin-right: -65px !important;
        background-color: #fec908;
        border-radius: 50px;
        width: 20px;
        align-items: center;
        text-align: center;
      }
    }
  }
   //end header styles